apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: serendibmall

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      labelSelector: "app.kubernetes.io/part-of=serendibmall"

configMapGenerator:
  - name: common-config
    behavior: merge
    literals:
      - SPRING_PROFILES_ACTIVE=dev
